{
  "repositoryUrl": "https://github.com/pashokchakravarthi/TestSemRelease9.git",
  "branches": [
    "main",
    "develop",
    {
      "name": "release/v+([0-9])?(.{+([0-9]),x}).x",
      "range":"${name.replace('release/v', '')}",
      "prerelease": false
    },
    {
      "name": "hotfix/v+([0-9])?(.{+([0-9]),x}).x",
      "range":"${name.replace('hotfix/v', '')}",
      "prerelease": false
    }
  ],
  "plugins": [
    {
      "path": "@semantic-release/commit-analyzer",
      "preset": "conventionalcommits"
    },
    {
      "path": "@semantic-release/release-notes-generator"
    },
    {
      "path": "@semantic-release/changelog"
    },
    {
      "path": "@semantic-release/exec",
      "prepareCmd": "echo next version: ${nextRelease.version}"
    },
    {
      "path": "@semantic-release/git",
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
    }
  ]
}